@font-face 
{
    font-family: 'Roboto-Regular';
    src: url('polices/Roboto-Regular.ttf')
}

header
{
height: 40px;
background-color: black;
color: white;
text-align: center;
margin-left: 10px;
margin-right: 10px;
}

body
{
       font-family:'Roboto-Regular', sans-serif;
       font-size: 14px; 
       background-color:rgb(255, 255, 255);
       margin:0px 0px 0px 0px;
}

p{
       color: rgb(139, 5, 5);
   }
h1
{
    color: rgb(241, 42, 7);
}
.lien
{
    display: inline-block;
    float: right;
    color: honeydew;
    margin-right: 80px;
}

header
{
    height: 40px;
    background-color: rgb(0, 0, 0);

}

ul.head
{
    margin-top: -40px;
}

a.head
{
color: rgb(252, 252, 252);
text-decoration: none;
}
a.head:hover{
    background-color: rgb(75, 73, 73);
}
section.articles{
    max-width: 70%;
   text-align: left;
    padding: 10px;
}
img {
	max-width: 30%;
	height: auto;
}
footer{

    background:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
    padding: 10px;
    
    }